body {
    background-color: black;
    color: white !important;
}


.subContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    background: black;
    gap: 10rem;
}

.section1 {
    margin-top: -6rem;
    width: 40%;
}

.section1>h1 {
    font-size: 4rem;
}

.section1>p {
    font-size: 1.2rem;
}

.section2 {
    width: 40%;
    backdrop-filter: blur(10px);
    background-color: rgba(37, 37, 37, 0.184);
    padding: 6rem;
    border-radius: 12;
}

.section2_rows {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.inputs>div>input {
    backdrop-filter: blur(10px);
    background-color: rgba(18, 18, 18, 0.049);
    color: rgb(121, 121, 121);
}

.inputs>div>input::placeholder {
    color: rgb(121, 121, 121);
}

.inputs>div>input:hover {
    background-color: transparent !important;
}

.inputs>div>input:focus {
    background-color: transparent !important;
    color: rgb(121, 121, 121);
    
}

.video {
    width: 12rem;
}

.button {
    height: 3rem;
    width: 8rem;
    background-color: white;
}

.button:hover {
   background-color: rgba(255, 255, 255, 0.328);
   backdrop-filter: blur(10px);
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    top: 0px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(5px);
    background-color: rgba(7, 7, 7, 0.293) !important;
  }
  
  .logo2 {
    display: flex;
    position: absolute;
    top: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
  }