.body {
    /* cursor: url('../public/cursor.png'),
    auto; */
    cursor: crosshair;
}

.video_container {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), black);
}

.video_container video {
    opacity: 0.7;
}

.content {
    display: block;
    position: absolute;
    z-index: 10;
    color: white;
    text-align: center;
}

.content_desc {
    font-size: 1.3rem;
    padding: 16rem 15rem 20rem 60rem;
}

.content_title {
    font-size: 3.1rem;
    padding: 40rem 35rem 0rem 45rem;
}

.content_menu_title {
    font-size: 3rem;
    padding: 40rem 35rem 0rem 45rem;
}

.vhContainer {
    width: 100%;
    height: 100%;
}

.vhContainer .menu_title {
    position: absolute;
    font-size: 4rem;
    bottom: 20rem;
    left: 25rem;
}


.vhContainer .menu_desc1 {
    position: absolute;
    font-size: 1.2rem;
    bottom: 20rem;
    right: 32rem;
}

.vhContainer .menu_image {
    width: 24rem;
    height: 32rem;
    object-fit: cover;
    position: absolute;
    z-index: 10;
    bottom: 4rem;
    right: 6rem;
}

.content_menu_desc1 {
    font-size: 1.1rem;
    padding: 10rem 35rem 20rem 42rem;
}

.header {
    margin-top: 20rem;
    z-index: 100;
    position: absolute;
}

.mynavbar {
    display: flex;
    margin-left: 1rem;
}

.mynavbar>ul {
    flex-direction: column;
    display: flex;
}

.mynavbar>ul>li {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.106);
    border-radius: 12px;
    margin-top: 0.5rem;
    border: solid 1px transparent;
    transition: border 1s ease;
}

.mynavbar>ul>li:hover {
    background-color: transparent;
    border-color: white;
}

.mynavbar>ul>li>a {
    padding: 0.4rem 2.3rem 0.4rem;
    display: flex;
    text-align: left;
}

.background {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
}

.mostrar {
    animation: fade-out 0.5s forwards;
    display: block;
}

@keyframes fade-out {
    from {
        opacity: 0;
        transform: rotate(10deg) translateX(180px);
        ;
    }

    to {
        opacity: 1;
    }
}

.menu {
    display: block;
}

.menu-hiden {
    display: none;
}

.uberMenu {
    display: none;

}

.uberMenu-show {
    color: white;
    display: block;
    position: absolute;
    z-index: 2;
    animation: show 0.8s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(1.7rem, 1rem, 1rem);

    }

    to {
        transform: translate3d(0rem, 0rem, 0rem);
        opacity: 1;
    }
}