body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}

li>a {
  text-decoration: none;
  color: white;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
}

h3,
p,
div {
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  z-index: 2;
}

.card {
  background-color: black !important;
  color: white !important;
}

.mynavbar>li>a {
  color: white !important;
}