body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}

li>a {
  text-decoration: none;
  color: white;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
}

h3,
p,
div {
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  z-index: 2;
}

.card {
  background-color: black !important;
  color: white !important;
}

.mynavbar>li>a {
  color: white !important;
}

@keyframes show {
  from {
      opacity: 0;
      scale: 25%;
  }

  to {
      opacity: 1;
      scale: 100%;
  }   
}

.show {
  width: 80%;
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes show2 {
  from {
      opacity: 0;
      padding-right: 500px;
  }

  to {
      opacity: 1;
      padding-right: 0px;
  }   
}

.show2 {
  width: 80%;
  view-timeline-name: --text;
  view-timeline-axis: block;

  animation-timeline: --text;
  animation-name: show2;

  animation-range: entry 50% cover 65%;
  animation-fill-mode: both;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 6rem;
}

footer>p>span{
  color: rgb(142, 142, 142)
}
