body {
  background-color: #000;
}

.video-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), black);
}

.content {
  position: absolute;
  z-index: 10;
  color: white;
  text-align: center;
}

.content_desc {
  font-size: 1.5rem;
  padding: 10rem 35rem 20rem 45rem;

}

.content_title {
  font-size: 2rem;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainContainer {
  background: black;
}

#header {
  display: flex;
  align-items: center;
  width: 100%;
  top: 0px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(5px);
  background-color: rgba(7, 7, 7, 0.293) !important;
}

.mynavbar2 {
  display: flex;
  margin-left: 1rem;
}

.mynavbar2>li>a {
  color: white !important;
}

.mynavbar2>li>a:hover {
  color: rgb(176, 176, 176) !important;
}

.logo2 {
  display: flex;
  position: absolute;
  top: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
}

.section1 {
  background-color: #000;
  padding-top: 8.5rem;
  color: #fff;
  text-align: center;
  height: 30vh;
}

.section1-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section2 {
  background-color: black;
  color: white;
  padding: 10rem;
}

.section2_first {
  flex-direction: column;
  display: flex;
}

.section2_title {
  display: flex;
}

.section2 p {
  font-size: 2.5rem;
}

.section3 {
  background-color: black;
}

.section3-image {
  width: 100%;
  object-fit: cover;
}

.section3-video {
  width: 100%;
  object-fit: cover;
}

.section4 {
  background-color: #000;
  color: white;
  padding: 10rem;
}

.section4>div>h4>span {
  font-size: 4rem;
}
.section4>div>p>span {
  font-size: 1.5rem;
}

.section5 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.carousel-center {
  margin-left: 300px;
  margin-right: 300px;
}

.carousel-test {
  padding-left: 550px;
  aspect-ratio: 16 / 9;
}

.firstScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 300px;
  background-color: transparent;
  padding-left: 2rem;
}

.firstScreen p {
  width: 30rem;
  color: white;
  font-size: 2rem;
}

/* Scroll Reveal */

.scroll_reveal {
  text-align: center;
  padding-block: clamp(0.1rem, 25vh, 2rem);
}

.scroll_reveal h3 {
  font-size: 5rem;
  line-height: 1;
}

.scroll_reveal p {
  font-size: 1.75rem;
  line-height: 1.3;
  min-width: 55ch;
  margin-inline: auto;
}

.scroll_reveal>* {
  margin: 0;
}

.scroll_reveal span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, white, white);
  animation: scroll-reaveal linear forwards;
  animation-timeline: view(y);
}

.scroll_reveal h3 span {
  animation-range-start: cover 40vh;
  animation-range-end: cover 45vh;
}

.scroll_reveal p span {
  animation-range-start: cover 40vh;
  animation-range-end: cover 60vh;
}

@keyframes scroll-reaveal {
  to {
    background-size: 100% 100%;
  }
}